<h4>GA and Misk Academy</h4>
<p>
<h3>Hi: {{name}}</h3>
You have a <b>Warning massage</b> about your 
Attendees.
Take care about your attendees 
<br/> 
and you can check your Attendees in: 
<br/>
http://somayahbahkeem.github.io/project-4-GA-frontend
<br/>
<p>have a nice day <b>GA and Misk Academy</b></p>
</p>